/***************************
*
* 0.0 Général
*
* 1.0 Menu
*   1.1 Intro container
*
* 2.0 Content
*   2.1 Présentation
*   2.2 Compétences
*
****************************/

/*----*/

/*-- 1.0 Menu --*/

@media screen and (max-width: 992px) {
    .navigation-menu a {
        padding: 0 8px;
    }
}

@media screen and (max-width: 784px) {
    .navigation-menu a .active:after, .navigation-menu a span:after {
        bottom: -3px;
        height: 3px;
    }
}

@media screen and (max-width: 768px) {
    .intro-container .intro-presentation {
        padding: 32px;
        align-items: center;
    }
    .intro-container .intro-presentation .intro-presentation--content {
        padding-right: 0;
    }
    .intro-container .intro-container--lean {
        display: none;
    }
    .img-presentation {
        text-align: center;
    }
    .img-presentation img {
        width: 50%;
        height: auto;
        margin: auto;
        margin-bottom: 16px;
    }
    .responsive-mobile-nav {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 768px) {
    .img-presentation img { 
        width: 100%;
    }
}

/*-- 2.0 Content --*/

/* 2.1 Présentation */

/* 2.2 Compétences */

