/***************************
*
* 0.0 Général
*   0.1 Loading
*
* 1.0 Menu
*   1.1 Intro container
*   1.2 Menu
*
* 2.0 Content
*   2.1 Présentation
*
* Addendum Animation
****************************/

/*-- 0.0 Général --*/

/* Fonts */

@font-face {
    font-family: 'Raleway-Black';
    src: url('../css/fonts/Raleway-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-BlackItalic';
    src: url('../css/fonts/Raleway-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../css/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-BoldItalic';
    src: url('../css/fonts/Raleway-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Italic';
    src: url('../css/fonts/Raleway-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-LightItalic';
    src: url('../css/fonts/Raleway-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('../css/fonts/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('../css/fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-MediumItalic';
    src: url('../css/fonts/Raleway-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../css/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../css/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-SemiBoldItalic';
    src: url('../css/fonts/Raleway-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url('../css/fonts/Raleway-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ThinItalic';
    src: url('../css/fonts/Raleway-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 0.1 Loading */

.loader-container-fluid {
    position: relative;
    width: 100%;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #e74c3c;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
}

.is-load {
    display: none;
    margin-bottom: 40px;
}

.loading-bounce {
    animation: bounce 0.3s ease infinite alternate;
    color: #e74c3c;
    font-family: Raleway-SemiBold;
    text-align: center;
    margin-top: 30px;
}

/*-- 1.0 Menu --*/

/* 1.1 Intro container */

.intro-container {
    position: relative;
    background: #e74c3c;
    min-height: 250px;
    overflow: hidden;
}

.intro-container .intro-container--lean {
    position: absolute;
    top: -50%;
    left: -5%;
    width: 85px;
    background: #ecf0f1;
    transform: rotate(45deg);
    min-height: 200%;
}

.intro-container .intro-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
}

.intro-container .intro-presentation .intro-presentation--logo {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 8px;
}

.intro-container .intro-presentation .intro-presentation--logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid rgba(236, 240, 241, 0.3);
}

.intro-container .intro-presentation .intro-presentation--name {
    font-family: Raleway-Black;
    font-size: 32px;
    color: #ecf0f1;
    font-weight: 700;
    text-transform: uppercase;
}

.intro-container .intro-presentation .intro-presentation--devweb {
    font-family: Raleway-Regular;
    font-size: 24px;
    color: #ecf0f1;
    text-align: center;
}

/* 1.2 Menu */

.menu--nav .icon {
    display: none;
}

.responsive-mobile-container {
    display: none;
}

.menu--nav {
    background: #3498db;
    padding: 16px;
    color: #ecf0f1;
}

.navigation-menu {
    text-align: center;
}

.navigation-menu a {
    padding: 0 16px;
}

.navigation-menu a:hover {
    text-decoration: none;
}

.navigation-menu a span {
    position: relative;
    font-family: Raleway-Bold;
    text-transform: uppercase;
    color: #ecf0f1;
    text-align: center;
}

.navigation-menu a .active:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -6px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    background: #e74c3c;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.navigation-menu a span:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -6px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0%;
    background: #e74c3c;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.navigation-menu a span:hover:after {
    width: 100%;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

/* Mobile menu */

.responsive-mobile-nav {
    visibility: hidden;
    background: #3498db;
    padding: 16px;
    color: #ecf0f1;
    overflow:hidden;
}

.slick-slide:focus, .slick-slide a:focus {
    outline: 0!important;
}

.responsive-mobile-nav .slick-prev {
    left: -10px;
}

.responsive-mobile-nav .slick-next {
    right: -10px;
}

.slick-prev {
    -webkit-transform: translate(-30%, -50%)!important;
    -ms-transform: translate(-30%, -50%)!important;
    transform: translate(-30%, -50%)!important;
}

.slick-next {
    -webkit-transform: translate(30%, -50%)!important;
    -ms-transform: translate(30%, -50%)!important;
    transform: translate(30%, -50%)!important; 
}

.slick-prev, .slick-next {
    width: 75px!important;
    height: 30px!important;
    z-index: 1;
    background: #3498db!important;
}

.slick-prev:before {
    content: '\003C'!important;
}

.slick-next:before {
    content: '\003E'!important;
}

/*-- 2.0 Content --*/

.section-wrapper {
    position: relative;
}

.data-card {
    position: relative;
    background: #ecf0f1;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border: none;
    border-radius: 2px;
}

.title {
    width: 100%;
    text-align: center;
    color: #fff;
    background: #3498db;
    font-family: Raleway-Bold;
    text-transform: uppercase;
    font-size: 32px;
}

/* 2.1 Présentation */

/*-- Addendum Animation --*/

/* animation spin for loader */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animation bounce */

@-webkit-keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

@-moz-keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

@-o-keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}