/***************************
*
* 0.0 Général
*   0.1 Loading
*
* 1.0 Menu
*   1.1 Intro container
*   1.2 Menu
*
* 2.0 Content
*   2.1 Présentation
*   2.2 Compétences
*   2.3 Portfolio
*   2.4 Expériences pro
*   2.5 Formations
*   2.6 Références
*   2.7 Contact
*
* Footer
*
* Addendum Animation
****************************/

/*-- 0.0 Général --*/

body {
    overflow-x: hidden;
}

/* Fonts */

@font-face {
    font-family: 'Raleway-Black';
    src: url('../css/fonts/Raleway-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-BlackItalic';
    src: url('../css/fonts/Raleway-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../css/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-BoldItalic';
    src: url('../css/fonts/Raleway-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Italic';
    src: url('../css/fonts/Raleway-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-LightItalic';
    src: url('../css/fonts/Raleway-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('../css/fonts/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('../css/fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-MediumItalic';
    src: url('../css/fonts/Raleway-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../css/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../css/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-SemiBoldItalic';
    src: url('../css/fonts/Raleway-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url('../css/fonts/Raleway-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-ThinItalic';
    src: url('../css/fonts/Raleway-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

/* 0.1 Loading */

.loader-container-fluid {
    position: relative;
    width: 100%;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #e74c3c;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
}

.is-load {
    display: none;
}

.loading-bounce {
    animation: bounce 0.3s ease infinite alternate;
    color: #e74c3c;
    font-family: Raleway-SemiBold;
    text-align: center;
    margin-top: 30px;
}

/*-- 1.0 Menu --*/

/* 1.1 Intro container */

.intro-container {
    position: relative;
    background: #e74c3c;
    min-height: 250px;
    overflow: hidden;
}

.intro-container .intro-container--lean {
    position: absolute;
    top: -50%;
    left: -5%;
    width: 85px;
    background: #ecf0f1;
    transform: rotate(45deg);
    min-height: 200%;
}

.intro-container .intro-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
}

.intro-container .intro-presentation .intro-presentation--logo {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 8px;
}

.intro-container .intro-presentation .intro-presentation--logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid rgba(236, 240, 241, 0.3);
}

.intro-container .intro-presentation .intro-presentation--name {
    font-family: Raleway-Black;
    font-size: 32px;
    color: #ecf0f1;
    font-weight: 700;
    text-transform: uppercase;
}

.intro-container .intro-presentation .intro-presentation--devweb {
    font-family: Raleway-Regular;
    font-size: 24px;
    color: #ecf0f1;
    text-align: center;
}

/* 1.2 Menu */

.menu--nav .icon {
    display: none;
}

.responsive-mobile-container {
    display: none;
}

.menu--nav {
    background: #34495e;
    padding: 16px;
    color: #ecf0f1;
}

.menu--nav.menu--fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navigation-menu {
    text-align: center;
}

.navigation-menu a {
    padding: 0 16px;
}

.navigation-menu a:hover {
    text-decoration: none;
}

.navigation-menu a span {
    position: relative;
    font-family: Raleway-Bold;
    text-transform: uppercase;
    color: #ecf0f1;
    text-align: center;
}

.navigation-menu a .active:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -6px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    background: #e74c3c;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.navigation-menu a span:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -6px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0%;
    background: #e74c3c;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.navigation-menu a span:hover:after {
    width: 100%;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

/* Mobile menu */

.responsive-mobile-nav {
    visibility: hidden;
    background: #34495e;
    padding: 16px;
    color: #ecf0f1;
    overflow-x: hidden;
}

.responsive-mobile-nav.menu--fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.slick-slide:focus, .slick-slide a:focus {
    outline: 0!important;
}

.responsive-mobile-nav .slick-prev {
    left: -10px;
}

.responsive-mobile-nav .slick-next {
    right: -10px;
}

.slick-prev {
    -webkit-transform: translate(-30%, -50%)!important;
    -ms-transform: translate(-30%, -50%)!important;
    transform: translate(-30%, -50%)!important;
}

.slick-next {
    -webkit-transform: translate(30%, -50%)!important;
    -ms-transform: translate(30%, -50%)!important;
    transform: translate(30%, -50%)!important;
}

.slick-prev, .slick-next {
    width: 75px!important;
    height: 30px!important;
    z-index: 1;
    background: #34495e!important;
}

.slick-prev:before {
    content: '\003C'!important;
}

.slick-next:before {
    content: '\003E'!important;
}

/*-- 2.0 Content --*/

.section-wrapper {
    position: relative;
    margin-bottom: 48px;
}

.data-card {
    position: relative;
    background: #ecf0f1;
    width: 470px;
    height: 470px;
    margin: auto;
    overflow: hidden;
    border: none;
    border-radius: 2px;
}

.card-content {
    padding: 24px;
}

.big-title {
    background: #e74c3c;
    border-radius: 2px;
    padding: 16px;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #fff;
    font-family: Raleway-Black;
}

/* 2.1 Présentation */

.img-presentation img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.description {
    text-align: justify;
}

.social-network-content {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.social-network-content a {
    color: #34495e;
    font-size: 28px;
    margin-right: 24px;
}

.social-network-content a:last-child {
    margin-right: 0;
}

/* 2.2 Compétences */

.comp--inner {
    display: block;
}

.comp-name {
    width: 65%;
    background: #34495e;
    color: #fff;
    font-family: Raleway-Bold;
    font-size: 20px;
    padding: 8px;
}

.comp-handle {
    width: 100%;
    background: #e9ecef;
    padding: 24px;
}

.competences-row {
    margin-bottom: 24px;
}

.competences-row:last-child {
    margin-bottom: 0;
}

.progress-bar {
    width: 100%;
    height: 25px;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
}

.master-comp {
    background: #e74c3c;
    height: 25px;
    border-radius: 2px;
    color: #fff;
    font-family: Raleway-Medium;
    -webkit-transition: width 2.5s ease;
    transition: width 2.5s ease;
}

.big--title-m32 {
    margin-bottom: 32px;
}

/* 2.3 Portfolio */

.portfolio-card .img-projet {
    position: relative;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.portfolio-card .spinforwin-projet {
    height: 416px;
    margin-bottom: 0;
}

.portfolio-card .img-projet {
    margin-bottom: 16px;
}

.spinforwin-projet {
    background: url('../images/portfolio/hnqe3blabfb9mhhiapcw.jpg');
}

.yoo-projet {
    background: url('../images/portfolio/ctwvwzcfll0xlldj7ovo.jpg');
}

.dubaijetski-projet {
    background: url('../images/portfolio/cd7r0scso6bxiggsrwhw.jpg');
}

.bell-projet {
    background: url('../images/portfolio/2021-01-21-19-05-echange.bell.ca.png');
}

.bt-projet {
    background: url('../images/portfolio/2021-01-21-19-03-my.bt.com.png');
}

.img-projet-mask {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    padding: 16px;
}

.img-projet-mask--content {
    text-align: center;
}

.img-projet-mask--title {
    margin-bottom: -14px;
    font-size: 16px;
    font-family: Raleway-Regular;
}

.img-projet-mask--content .plus-icon img {
    margin-top: -14px;
}

.portfolio-card .img-projet:hover .img-projet-mask {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.portfolio-card .img-projet:hover .img-projet-mask--title {
    margin-bottom: 0px;
    padding-bottom: 8px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.portfolio-card .img-projet:hover .img-projet-mask--title-wborder {
    border-bottom: 1px solid #fff;
    margin-bottom: 8px;
}

.portfolio-card .img-projet:hover .img-projet-mask--content .plus-icon img {
    margin-top: 0px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.img-projet-mask--content .plus-icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: transparent;
    margin: auto;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.img-projet-mask--content .plus-icon a:hover {
    background: #fff;
    color: #e74c3c;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.img-projet-mask--content .description-project--not-online {
    font-size: 13px;
    color: #fff;
    font-family: Raleway-Light;
}

/* 2.4 Expériences pro */

.xp-card {
    position: relative;
}

.xp--point-line {
    position: absolute;
    height: 100%;
    margin-right: 16px;
}

.xp--point-line .xp-point {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 7%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #e74c3c;
}

.xp--point-line .xp-line {
    position: absolute;
    left: 7px;
    top: 0;
    border-left: 2px solid #34495e;
    height: 100%;
}

.xps-timeline p {
    margin-bottom: 0;
}

.xp-content {
    margin-left: 32px;
    padding-bottom: 24px;
}

.xp-details {
    position: relative;
    background: #e9ecef;
    padding: 24px;
    border-radius: 2px;
}

.xp-details:after, .xp-details:before {
    right: 100%;
    top: 10%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.xp-details:after {
    border-right-color: #e9ecef;
    border-width: 3px;
    margin-top: -3px;
}

.xp-details:before {
    border-right-color: #e9ecef;
    border-width: 9px;
    margin-top: -9px;
}

.xps-timeline .xp-enterprise {
    color: #34495e;
    font-family: 'Raleway-Bold';
    margin-bottom: 8px;
}

.xps-timeline .xp-mission {
    font-family: 'Raleway-Regular';
    margin-bottom: 8px;
}

.xp-place-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.xp-place-date .xp-place {
    font-size: 16px;
    margin-right: 16px;
}

.xp-place-date .xp-place i, .xp-place-date .xp-date i {
    font-size: 16px;
    color: #e74c3c;
    margin-right: 4px;
}

.xp--toread .xp-card:last-child .xp-content {
    padding-bottom: 0px;
}

.xp-more--toread {
    height: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s ease;
}

.xp-more--toread.active {
    height: 100%;
    transform: scaleY(1);
}

.xp-more--toread .xp-card:last-child .xp-content {
    padding-bottom: 0;
}

.xp--button__wrapper {
    text-align: right;
    margin-top: 24px;
}

.button--xp_readmore {
    cursor: pointer;
    background: #34495e;
    padding: 12px 16px;
    color: #fff;
    font-family: Raleway-Bold;
    border: none;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.button--xp_readmore:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, .2);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.button--xp_readmore:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

/* 2.5 Formations */

.xp-details:after, .formations-details:before {
    top: 14%;
}

/* 2.6 Références */

.refs-photo-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.refs-photo-text img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
}

.refs-photo-text p {
    margin-bottom: 8px;
}

.refs-photo-text p:last-child {
    margin-bottom: 0;
}

.refs-carousel {
    position: relative;
    background: #e9ecef;
    padding: 32px 72px;
    border-radius: 2px;
}

.refs-carousel .slick-prev, .refs-carousel .slick-next {
    width: 30px!important;
    height: 30px!important;
    z-index: 1;
    background: transparent!important;
}

.refs-carousel .slick-prev:before, .refs-carousel .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: #34495e;
    font-weight: 600;
}

.refs-carousel .slick-prev {
    left: -42px;
}

.refs-carousel .slick-next {
    right: -42px;
}

.find-me-on-malt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.find-me-on-malt a {
    display: block;
    cursor: pointer;
    background: #34495e;
    padding: 12px 16px;
    color: #fff;
    font-family: Raleway-Bold;
    border: none;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    -webkit-transition: 0.3;
    width: 250px;
    margin-top: 16px;
    margin-right: 0;
}

.find-me-on-malt a:hover {
    text-decoration: none;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px 1px rgb(0 0 0 / 20%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

/* 2.7 Contact */

.social-network--contact-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 24px;
}

.social-network--contact p {
    margin-bottom: 8px;
    font-family: Raleway-Regular;
    font-size: 16px;
}

.social-network--contact a:first-child {
    margin-right: 16px;
}

.social-network--contact a {
    display: block;
    min-width: 200px;
    max-width: 250px;
    color: #fff;
    padding: 8px 12px;
    font-size: 16px;
    font-family: Raleway-Bold;
    border-radius: 2px;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3;
}

.social-network--contact a:hover {
    text-decoration: none;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px 1px rgb(0 0 0 / 20%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.social-network--contact .malt-link {
    background: #ff5c57;
}

.social-network--contact .linkedin-link {
    background: #0A66C2;
}

.block-contact p {
    margin-bottom: 8px;
    font-family: Raleway-Regular;
    font-size: 16px;
}

.block-card-contact {
    background: #e9ecef;
    padding: 24px;
    border-radius: 2px;
}

.block-card-contact input {
    border: none;
    border-bottom: 2px solid #34495e;
    border-radius: 0;
}

.block-card-contact input:focus {
    outline: 0;
    border-bottom: 2px solid #e74c3c;
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}

.block-card-contact textarea {
    width: 100%;
    resize: none;
    border: none;
    border-bottom: 2px solid #34495e;
    border-radius: 0;
    padding: .375rem .75rem;
    height: 38px;
}

.block-card-contact textarea:focus {
    outline: 0;
    border: 2px solid #e74c3c;
}

.submit-contact {
    min-width: 175px;
    border-radius: 2px;
    color: #fff;
    background: #e74c3c;
    font-size: 16px;
    font-family: Raleway-Bold;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.submit-contact:hover {
    transition: 0.3s;
    -webkit-transition: 0.3;
    text-decoration: none;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px 1px rgb(0 0 0 / 20%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.form-group--submit {
    text-align: right;
}

#contact {
    margin-bottom: 64px;
}

.success-contact, .error-contact {
    position: fixed!important;
    z-index: 3;
    bottom: 25px;
    left: 16px;
    padding: 24px;
    color: #fff;
    min-width: 200px;
    max-width: 250px;
    text-align: center;
}

.success-contact .close-box-contact, .error-contact .close-box-contact {
    position: absolute;
    top: 2px;
    right: 12px;
    cursor: pointer;
}

.success-contact {
    background: #28a745;
}

.error-contact {
    background: #dc3545;
}

/*-- Footer --*/

footer {
    background: #e74c3c;
    color: #fff;
    font-size: 16px;
    font-family: Raleway-Italic;
    padding: 16px 24px;
}

/*-- Addendum Animation --*/

#competences {
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
}

#competences.showed {
    animation: 0.6s ease-in-out inHomeFromRight;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

#portfolio {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
}

#portfolio.showed {
    animation: 0.6s ease-in-out inHomeFromLeft;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

#xp {
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
}

#xp.showed {
    animation: 0.6s ease-in-out inHomeFromRight;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

#formations {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
}

#formations.showed {
    animation: 0.6s ease-in-out inHomeFromLeft;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

#refs {
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
}

#refs.showed {
    animation: 0.6s ease-in-out inHomeFromRight;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

#contact {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
}

#contact.showed {
    animation: 0.6s ease-in-out inHomeFromLeft;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

/* animation spin for loader */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animation bounce */

@-webkit-keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

@-moz-keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

@-o-keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

/* Come from left */

/* Enter in home from left */

@keyframes inHomeFromLeft {
    0% {
        -webkit-transform: translateX(-200%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@-o-keyframes inHomeFromLeft {
    0% {
        -webkit-transform: translateX(-200%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@-webkit-keyframes inHomeFromLeft {
    0% {
        -webkit-transform: translateX(-200%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes inHomeFromLeft {
    0% {
        -webkit-transform: translateX(-200%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

/* Come from right */

/* Enter in home from right */

@keyframes inHomeFromRight {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@-o-keyframes inHomeFromRight {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@-webkit-keyframes inHomeFromRight {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes inHomeFromRight {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}