html{
	-webkit-font-smoothing: antialiased;
	width:100%;
	margin:0;
	padding:0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, *:before, *:after {
		margin:0;
		padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	width:100%;
	margin:0;
	padding:0;
	-webkit-animation-delay: 0.1s;
	-webkit-animation-name: fontfix;
	-webkit-animation-duration: 0.1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	color: #3d4451;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #efefef;
}

@-webkit-keyframes fontfix {
 from { opacity: 1; }
 to   { opacity: 1; }
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3,
.col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

p {
    margin: 0 0 25px 0;
		font-family:"Roboto", sans-serif;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

h4 {
    font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin: 0 0 25px 0;
    line-height: 1.1;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

@media (min-width: 768px){
    .col-sm-6 {
        width: 50%;
    }
}

@media (min-width: 768px){
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.section-box{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

figure {
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

ul {
    list-style: square;
}
ul, ol {
    margin: 0 0 20px 20px;
}

select, input[type='tel'], input[type='text'], input[type='email'], input[type='search'], input[type='password'] {
    height: 34px;
}
select, textarea, input[type='tel'], input[type='text'], input[type='email'], input[type='search'], input[type='password'] {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    line-height: 1.42857143;
    width: 100%;
    display: block;
    padding: 6px 12px;
    background: transparent;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
}

/**
 * 6.7 - Scroll Animations
 */
.animate-down {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    transform: translate(0, -100px);
}

.animate-down.animated {
    opacity: 1;
    visibility: visible;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 400ms ease-out 100ms;
    -moz-transition: all 400ms ease-out 100ms;
    transition: all 400ms ease-out 100ms;
}

.animate-up {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    transform: translate(0, 100px);
}

.animate-up.animated {
    opacity: 1;
    visibility: visible;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
    -moz-transition: -moz-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
    transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}

.animate-right {
    opacity: 0;
    visibility: hidden;
    transform: translate(-100px, 0);
}

.animate-right.animated {
    opacity: 1;
    visibility: visible;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
    -moz-transition: -moz-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
    transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}

.animate-left {
    opacity: 0;
    visibility: hidden;
    transform: translate(100px, 0);
}

.animate-left.animated {
    opacity: 1;
    visibility: visible;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
    -moz-transition: -moz-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
    transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}

/**
 * 8.0 - Preload/Overlay
 */
#overlay {
    position: fixed;
    z-index: 99;
    top: -1000%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    -webkit-transition: top 0s ease 0.35s, opacity 0.35s ease;
    -moz-transition: top 0s ease 0.35s, opacity 0.35s ease;
    transition: top 0s ease 0.35s, opacity 0.35s ease;
}

.loading #preloader {
    display: block;
}

.loading .wrapper {
    opacity: 0;
    visibility: hidden;
}

#preloader {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff;
}

#preloader .preload-text {
    display: none;
}

#preloader .preload-icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    padding: 0px;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -35px;
}

#preloader .preload-icon span {
    position: absolute;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #000000;
    -webkit-animation: preloader 1.6s linear infinite;
    -moz-animation: preloader 1.6s linear infinite;
    animation: preloader 1.6s linear infinite;
}

#preloader .preload-icon span:last-child {
    -webkit-animation-delay: -0.8s;
    -moz-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes preloader {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}

@-moz-keyframes preloader {
    0% {
        -moz-transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes preloader {
    0% {
        transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/****************************Page d'accueil******************************/
.topnav {
	top: 0;
	left: 0;
	position: fixed;
	z-index: 100;
	display: flex;
	flex-direction: row;
	width: 100%;
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
	transition-property: background, box-shadow;
	box-sizing:border-box;
	padding: 0 32px;
	min-height:80px;
  }
  
  .topnav a {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	position: relative;
	display: inline-block;
	font-weight: 400;
	height: 48px;
  }
  
  .logo {
	font-size: 28px;
	margin: 13px 20px;
	font-family:'Fredoka One',cursive;
  }
  
  .logo a {
	color: #fff;
	vertical-align: middle;
	font-size: 36px;
	text-decoration: none;
  }
  
  .logo a .sp-logo {
	color: #07aaf5;
	font-size: 36px;
  }
  
  .topnav nav {
    position: absolute;
    margin-top: 16px;
    right: 30px;
  }
  
  .topnav nav a span {
	display: inline-block;
	padding: 12px;
  }
  
  .topnav nav a:hover {
	  background: #07aaf5;
	  color: white;
	  border-radius: 4px;
  }

  .login-menu {
	margin-top: 16px;
	display: flex;
  }

  .login-menu a:hover {
	background: #07aaf5;
	color: white;
	border-radius: 4px;
  }
  
  .login-menu a span {
	display: inline-block;
	padding: 12px;
  }

  /*******Icone mon profil********/
  .login-menu .profil-icon .fas {
	font-size: 32px;
	margin-right: 10px;
	vertical-align:middle;
  }
  
  .space-menu {
	flex-grow: 1;
  }
  
  .responsive-mobile-drawer {
	display: none;
  }

  /***************Animation menu scroll**************/
  .topnav.animate {
	background-color: #07aaf5;
  }

  .topnav.animate a {
	  color:#fff;
  }

  .topnav.animate .logo a span {
	color: #3d4451;
  }

  .topnav.animate nav a:hover {
	color: #fff
  } 

  .topnav.animate .login-menu a:hover {
	color: #fff
  }

  .topnav.animate .login-menu a:hover {
	color: #fff
  }
  
  /******************2.2 Menu Responsive*********************/
  .topnav a.icon {
	display: none;
  }
  
  @media screen and (max-width: 1280px){
	.topnav nav a {
	  display:none;
	}
  
	.topnav .login-menu{
	  display:none;
	}

	.topnav a.icon {
	  display: block;
	  font-size:32px;   
	  margin-top:18px;
	  margin-right:10px;
	}
  
	.responsive-mobile-drawer {
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-direction: column;
	  flex-direction: column;
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  width: 320px;
	  background-color: #07aaf5;
	  z-index: 1001;
	  box-sizing: border-box;
	  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-timing-function: cubic-bezier(.37,.15,.32,.94);
	  transition-property: transform;
	  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
  
	.responsive-mobile-drawer.responsive-mobile-drawer--west{
	  left: 0;
	  transform: translateX(-100%);
	  border-right: 0px solid rgb(120, 120, 128);
	}
  
	.responsive-mobile-drawer.is-active {
	  transform: translateX(0%);
	}
  
	.responsive-mobile-drawer .responsive-mobile-close {
	  left: 32px;
	}
  
	.responsive-mobile-close {
	  position: absolute;
	  top: 20px;
	  color: #fff;
	  font-size: 28px;
	}

	.responsive-mobile-close:hover {
		color:#fff;
	}
  
	.responsive-mobile-container {
	  width:100%;
	  height:400px;
	}
  
	.responsive-mobile-menu {
		margin-top: 15px;
		padding: 64px 32px 32px 32px;
	}
  
	.responsive-mobile-menu a{
	  display: block;
	  color: #fff;
	  padding: 8px 0;
	  text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
	}

	.responsive-mobile-menu a:hover{
		color: #fff;
	  }
  
	.responsive-mobile-menu a .fas {
	  margin-right: 8px;
	}

	.responsive-user {
		margin-top: 10px;
		padding: 10px 0px 0px 0px;
		border-top: 2px solid #f0f0f0;
	}
  
  }
  
  /*********Obfuscator ou obturateur( prend toute la page et l'assombri, afin de mettre en valeur l'élement principal, en l'occurence, le menu responsive )************/
  .responsive-obfuscator {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(36, 36, 38, .9);
	z-index: 1000;
	display: none;
  }
  
  .responsive-obfuscator.is-active {
	display:block;
  }

.content{
    position: absolute;
	z-index: 5;
	top:0px;
	left:0;
	right:0;
	bottom:0;
}

.container{
    position: relative;
    z-index: 20;
	width: 100%;
    max-width: 960px;
    padding-top: 175px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

.presentation{
	position:relative;
	padding-top:25px;
}

.presentation .section-box{
	padding: 0;
	background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
}

.profile{
	padding: 57px 50px 15px 50px;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.col-xs-5 {
    width: 41.66667%;
}

.profil-banniere{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 515px;
    background-size: cover;
    background-color: #242832;
    background-repeat: no-repeat;
    background-position: center;
}

.profil-banniere:before{
    position:absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(61,68,81,.4);  
}

.col-xs-7 {
    width: 58.33333%;
}

.profile-info {
    color: #3d4451;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dedede;
}

.profile-preword {
    margin-bottom: 28px;
}

.profile-preword span:before {
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 5px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent;
		border-left-color: #07aaf5;
}

.profile-preword span {
		background-color: #07aaf5;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    display: inline-block;
    padding: 9px 14px;
    text-transform: uppercase;
    position: relative;
}

.profile-title {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 5px;
}

.profile-title span {
    font-weight: 300;
}

.profile-position {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0;
}

.profile-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.profile-list li {
    margin-bottom: 13px;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.profile-list .title {
    display: block;
    width: 120px;
    float: left;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.profile-list .cont {
    display: block;
    margin-left: 125px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #9da0a7;
}

.profile-list .cont a {
    color: inherit;
}

.profile-social{
	background-color: #07aaf5;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	padding: 15px 0;
}

.social {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.social li {
    display: inline-block;
    margin: 5px 15px;
}

.social li a {
    width: 45px;
    height: 45px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    -webkit-transition: -webkit-transition, background-color 0.25s linear 0s;
    -moz-transition: -moz-transition, background-color 0.25s linear 0s;
    transition: transition, background-color 0.25s linear 0s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
		color:white;
}

.social li a, .social li a .fas {
    line-height: 45px;
		font-size:25px;
}

.section-txt-btn {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

.section-txt-btn p:last-child, .section-text .section-box *:last-child {
    margin-bottom: 0;
}

.competences {
    padding-top: 70px;
}

.section-comp{
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(0, 100px);
	-moz-transform: translate(0, 100px);
	transform: translate(0, 100px);
}

.section-comp.animated{
	opacity: 1;
	visibility: visible;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: -webkit-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
	-moz-transition: -moz-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
	transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}

.section-title {
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

.sub-category-c {
    margin-top: 10px;
    font-weight: 600;
}

.section-box {
    padding: 40px 50px;
}

.progress-bar {
    position: relative;
    margin-bottom: 40px;
		background:white;
		color: #3d4451;
		opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    transform: translate(0, 100px);
}

.progress-bar.animated {
    position: relative;
    margin-bottom: 40px;
		opacity: 1;
    visibility: visible;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
    -moz-transition: -moz-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
    transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}

.progress-bar .bar-data {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}

.progress-bar .bar-title {
    display: block;
    margin-bottom: 5px;
		text-align: left;
}

.progress-bar .bar-value {
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}

.progress-bar .bar-line {
    height: 5px;
    position: relative;
}

.progress-bar .bar-line:after {
		background-color: #07aaf5;
    content: '';
    opacity: 0.2;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	}

	.progress-bar .bar-fill {
		background-color: #07aaf5;
    width: 0;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: width 600ms ease-out 100ms;
    -moz-transition: width 600ms ease-out 100ms;
    transition: width 600ms ease-out 100ms;
}

/**
 * 11.5 - Section Portfolio
 */
 .projets {
     padding-top: 70px;
 }

.section-projets{
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(0, 100px);
	-moz-transform: translate(0, 100px);
	transform: translate(0, 100px);
}

.section-projets.animated{
	opacity: 1;
	visibility: visible;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: -webkit-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
	-moz-transition: -moz-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
	transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}

.cardproject {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flip-container {
	perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 49%;
    height: 480px;
    margin-bottom: 10px;
}

.flip-container:last-child {
    margin-bottom: 0px;
}

.back a {
    color: #fff;
    background: #07aaf5;
    border-radius: 6px;
    font-size: 32px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.back a:hover {
    color: #fff;
    background: #0687C3;
    transition: background .15s ease-out,border .15s ease-out;
}

@media only screen and (max-width:768px) {
    .cardproject {
        display:flex;
        flex-direction: column;
        align-content: center;
        align-items: center;

    }

    .flip-container, .front, .back {
        width: 60%;
        height: 480px;
        margin-bottom: 10px;
    }

    .flip-container:last-child {
        margin-bottom: 0px;
    }

    .back {
        padding: 48px 5px;
    }

    .back a {
        font-size: 20px;
    }
}

@media only screen and (max-width:644px) {
    .flip-container, .front, .back {
        width: 75%;
        height: 480px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:520px) {
    .flip-container, .front, .back {
        width: 85%;
        height: 480px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:464px) {
    .flip-container, .front, .back {
        width: 100%;
        height: 480px;
        margin-bottom: 10px;
    }
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
    left: 0;
    border-radius: 6px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
    transform: rotateY(0deg);
    width: 100%;
}

.cardimg {
    width: 100%;
    height:100%;
    background-size: cover;
    background-color: #242832;
    background-repeat: no-repeat;
    background-position: initial;
    border-radius: 6px;	
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    width: 100%;
    background: #3d4451;
    padding: 48px 48px;
    text-align: center;
}

.back h3, .back h4 {
    color: #fff;
}

.back h4 {
    margin-bottom: 126px
}

.filter {
    text-align: center;
    margin-bottom: 30px;
}

.filter button {
    border: 0;
    margin: 0 20px 0 0;
    padding: 0 12px;
    background: transparent;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}

.filter button:first-child {
    padding-left: 0;
}

.filter button:last-child {
    margin-right: 0;
    padding-right: 0;
}

.filter-inner {
    display: inline-block;
    position: relative;
}

.filter-bar {
    height: 5px;
    margin: 10px auto 0;
    background-color: #fff;
    position: relative;
}

.filter-bar, .filter-bar .filter-bar-line {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.filter-bar .filter-bar-line {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    display: block;
    position: relative;
    -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -moz-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

@media (max-width: 767px) {
    .filter-bar {
        display: none;
    }

    .filter-inner {
        display: block;
    }

    .filter button {
        width: 100%;
        margin: 0;
        padding: 10px 0;
        display: block;
        border-bottom: 1px solid #d7dbde;
        position: relative;
    }

    .filter .active:after {
        content: '';
        left: 0;
        bottom: -1px;
        height: 3px;
        width: 100%;
        position: absolute;
    }

    .grid .grid-item,
    .grid .grid-sizer {
        width: 50%;
    }

    .grid .size11,
    .grid .size22 {
        width: 50%;
    }

    .grid .size11 .portfolio-title,
    .grid .size22 .portfolio-title {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .grid .grid-item,
    .grid .grid-sizer {
        width: 100%;
    }

    .grid .size11,
    .grid .size22 {
        width: 100%;
    }

    .grid .size11 .portfolio-title,
    .grid .size22 .portfolio-title {
        font-size: 22px;
    }
}

.fancybox-portfolio .fancybox-error {
    background: #fff;
    margin-right: 70px;
    min-height: 225px;
}

.fancybox-portfolio .fancybox-skin {
    box-shadow: none;
    background-color: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.fancybox-portfolio .fancybox-nav,
.fancybox-portfolio .fancybox-close {
    left: auto;
    right: 0px;
    width: 45px;
    height: 45px;
    border: 1px solid #767475;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.fancybox-portfolio .fancybox-nav:hover,
.fancybox-portfolio .fancybox-close:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.fancybox-portfolio .fancybox-close,
.fancybox-portfolio .fancybox-prev span,
.fancybox-portfolio .fancybox-next span {
    background-image: url("img/fancybox_sprite.png");
}

.fancybox-portfolio .fancybox-close {
    top: 0;
    background-position: -91px 0px;
}

.fancybox-portfolio .fancybox-nav span {
    top: 0;
    left: 0;
    margin: 0;
    right: auto;
    width: 100%;
    height: 100%;
    visibility: visible;
}

.fancybox-portfolio .fancybox-prev {
    top: 127px;
}

.fancybox-portfolio .fancybox-prev span {
    background-position: -1px 0px;
}

.fancybox-portfolio .fancybox-next {
    top: 180px;
}

.fancybox-portfolio .fancybox-next span {
    background-position: -46px 0px;
}

.fancybox-inline-box {
    width: 730px;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    position: relative;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 65px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.fancybox-inline-box.opened {
    height: 100%;
    min-height: 225px;
    opacity: 1;
    visibility: visible;
}

.fancybox-inline-box .inline-cont {
    padding: 25px 40px;
    background-color: #fff;
}

.fancybox-inline-box .inline-title {
    color: #000;
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 20px;
}

.fancybox-inline-box .inline-text {
    color: #757575;
    font-size: 16px;
    line-height: 1.3;
}

.fancybox-inline-box .inline-text p {
    margin-bottom: 15px;
}

.fancybox-inline-box .inline-text p:last-child {
    margin-bottom: 0;
}

.fancybox-inline-box .inline-embed-image {
    width: 100%;
}

.fancybox-inline-box .inline-embed-image img {
    width: 100%;
    height: auto;
    display: block;
}

.fancybox-inline-box .inline-embed-iframe,
.fancybox-inline-box .inline-embed-video {
    width: 100%;
    height: 410px;
}

.fancybox-inline-box .inline-embed-iframe iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.fancybox-inline-box .mejs-poster,
.fancybox-inline-box .mejs-container,
.fancybox-inline-box .mejs-overlay-play,
.fancybox-inline-box .inline-embed video {
    width: 100% !important;
    height: 100% !important;
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .fancybox-portfolio .fancybox-nav span,
    .fancybox-portfolio .fancybox-close {
        background-image: url("img/fancybox_sprite@2x.png");
        background-size: 135px 45px;
    }
}

@media (max-width: 992px) {
    .fancybox-inline-box {
        width: 650px;
    }

    .fancybox-inline-box .inline-embed-iframe,
    .fancybox-inline-box .inline-embed-video {
        height: 360px;
    }
}

@media (max-width: 767px) {
    .fancybox-portfolio .fancybox-error {
        background: #fff;
        margin-right: 0;
        min-height: 0px;
    }

    .fancybox-portfolio .fancybox-nav,
    .fancybox-portfolio .fancybox-close {
        width: 30px;
        height: 30px;
    }

    .fancybox-portfolio .fancybox-close {
        top: -40px;
        right: 0;
        background-position: -99px -8px;
    }

    .fancybox-portfolio .fancybox-prev {
        top: -40px;
        left: 0;
        right: auto;
    }

    .fancybox-portfolio .fancybox-prev span {
        background-position: -9px -8px;
    }

    .fancybox-portfolio .fancybox-next {
        top: -40px;
        left: 40px;
        right: auto;
    }

    .fancybox-portfolio .fancybox-next span {
        background-position: -53px -8px;
    }

    .fancybox-inline-box {
        margin-right: 0;
        width: 420px;
    }

    .fancybox-inline-box .inline-embed-iframe,
    .fancybox-inline-box .inline-embed-video {
        height: 230px;
    }

    .fancybox-inline-box .inline-cont {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .fancybox-inline-box {
        width: 350px;
    }

    .fancybox-inline-box .inline-embed-iframe,
    .fancybox-inline-box .inline-embed-video {
        height: 187px;
    }
}

@media (max-width: 360px) {
    .fancybox-inline-box {
        width: 250px;
    }

    .fancybox-inline-box .inline-embed-iframe,
    .fancybox-inline-box .inline-embed-video {
        height: 150px;
    }
}

/**
 * 11.6- Section Timeline
 */
 .experiences {
 		padding-top: 70px;
 }

 .section-exp{
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  transform: translate(0, 100px);
 }

 .section-exp.animated{
  opacity: 1;
  visibility: visible;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  -moz-transition: -moz-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
  transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
 }

.timeline {
    position: relative;
}

.timeline .timeline-bar {
    content: '';
    width: 4px;
    opacity: 0.2;
    margin-left: -2px;
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
		background-color: #07aaf5;
}

.timeline .timeline-inner {
    position: relative;
}

.timeline-box {
    width: 50%;
    color: #07aaf5;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
    position: relative;
}

.timeline-box:last-child {
    margin-bottom: 0;
}

.timeline-box h3 {
    color: #414141;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 20px;
}

.timeline-box h4 {
    color: #878787;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.timeline-box h3 a,
.timeline-box h4 a {
    opacity: 1;
    color: inherit;
    -webkit-transition: opacity 0.15s linear 0s;
    -moz-transition: opacity 0.15s linear 0s;
    transition: opacity 0.15s linear 0s;
}

.timeline-box h3 a:hover,
.timeline-box h4 a:hover {
    opacity: 0.6;
    text-decoration: none;
}

.timeline-box .date {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 15px;
}

.timeline-box-compact .date, .timeline-box-compact h3, .timeline-box-compact h4 {
    text-align: left;
}

.timeline-box-compact .date span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    position: relative;
    padding: 5px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.timeline-box-compact .date span:before {
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 5px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent;
}

.timeline-box-inner {
    padding: 20px 5%;
    position: relative;
    border-width: 5px 0 0 0;
    border-style: solid;
		background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.timeline-box-left .dot,
.timeline-box-right .dot {
    top: 80px;
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
		background-color: #07aaf5;
}

.timeline-box-left .arrow,
.timeline-box-right .arrow {
    top: 60px;
    width: 12px;
    height: 41px;
    display: block;
    position: absolute;
    background-image: url(../images/arrows.png);
    background-repeat: no-repeat;
}

.timeline-box-left .arrow:before,
.timeline-box-right .arrow:before {
    width: 0;
    height: 0;
    content: '';
    display: block;
}

.timeline-box-left {
    float: left;
    clear: left;
}

.timeline-box-left .timeline-box-inner {
    margin-right: 35px;
}

.timeline-box-left .timeline-box-inner .arrow {
    right: -12px;
    background-position: -18px 0;
}

.timeline-box-left .timeline-box-inner .arrow:before {
    margin-right: 2px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #fff;
}

.timeline-box-left .dot {
    right: 0px;
    margin-right: -4px;
}

.timeline-box-right {
    float: right;
    clear: right;
}

.timeline-box-right .timeline-box-inner {
    margin-left: 35px;
}

.timeline-box-right .timeline-box-inner .arrow {
    left: -12px;
    background-position: 0 0;
}

.timeline-box-right .timeline-box-inner .arrow:before {
    margin-left: 2px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 10px solid #fff;
}

.timeline-box-right .dot {
    left: 0px;
    margin-left: -4px;
}

@media (max-width: 600px) {
    .timeline-box {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }

    .timeline-box .timeline-box-inner {
        margin-left: 0;
        margin-right: 0;
    }

    .timeline-box .timeline-box-inner .arrow {
        display: none;
    }

    .timeline-box .dot {
        display: none;
    }
}

.timeline-box ul li{
	color:#757575;
}

.formations{
	padding-top:70px;
}

.section-formations{
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(0, 100px);
	-moz-transform: translate(0, 100px);
	transform: translate(0, 100px);
}

.section-formations.animated{
	opacity: 1;
	visibility: visible;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: -webkit-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
	-moz-transition: -moz-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
	transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}

.timeline-box-innerform {
    padding: 20px 5%;
    position: relative;
    border-width: 5px 0 0 0;
    border-style: solid;
		background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.timeline-box-left .dot,
.timeline-box-right .dot {
    top: 80px;
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
		background-color: #07aaf5;
}

.timeline-box-left .arrow,
.timeline-box-right .arrow {
    top: 60px;
    width: 12px;
    height: 41px;
    display: block;
    position: absolute;
    background-image: url(../images/arrows.png);
    background-repeat: no-repeat;
}

.timeline-box-left .arrow:before,
.timeline-box-right .arrow:before {
    width: 0;
    height: 0;
    content: '';
    display: block;
}

.timeline-box-left {
    float: left;
    clear: left;
}

.timeline-box-left .timeline-box-innerform {
    margin-right: 35px;
}

.timeline-box-left .timeline-box-innerform .arrow {
    right: -12px;
    background-position: -18px 0;
}

.timeline-box-left .timeline-box-innerform .arrow:before {
    margin-right: 2px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #fff;
}

.timeline-box-left .dot {
    right: 0px;
    margin-right: -4px;
}

.timeline-box-right {
    float: right;
    clear: right;
}

.timeline-box-right .timeline-box-innerform {
    margin-left: 35px;
}

.timeline-box-right .timeline-box-innerform .arrow {
    left: -12px;
    background-position: 0 0;
}

.timeline-box-right .timeline-box-innerform .arrow:before {
    margin-left: 2px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 10px solid #fff;
}

.timeline-box-right .dot {
    left: 0px;
    margin-left: -4px;
}

@media (max-width: 600px) {
    .timeline-box {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }

    .timeline-box .timeline-box-innerform {
        margin-left: 0;
        margin-right: 0;
    }

    .timeline-box .timeline-box-innerform .arrow {
        display: none;
    }

    .timeline-box .dot {
        display: none;
    }
}

/**
 * 11.7 - Section References
 */

.references{
	padding-top:70px;
}

.section-ref{
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(0, 100px);
	-moz-transform: translate(0, 100px);
	transform: translate(0, 100px);
}

.section-ref.animated{
	opacity: 1;
	visibility: visible;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: -webkit-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
	-moz-transition: -moz-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
	transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}

.reco{
	padding: 55px 75px 40px 80px;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	border-radius:1px;
}

.recobatmax-text{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	padding-bottom: 27px;
  border-bottom: 1px solid #dddad9;
}

.recobatmax-text .fas{
	color:#007bff;
	font-size:24px;
	margin-right:30px;
}

.recobatmax-text p{
	font-size: 18px;
	font-weight: 400;
  line-height: 1.4;
}

.recobatmax-pres{
	padding-top: 25px;
}

.recobatmax-pres img{
	width: 53px;
    float: left;
    display: block;
    margin-right: 22px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.recobatmax-titre{
	padding-top: 10px;
}

.recobatmax-nom{
		color: #757575;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    display: block;
    margin-bottom: 3px;
}

.recobatmax-poste{
	color: #B6B6B6;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
}

.contact{
	padding-top:70px;
}

.section-contact{
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(0, 100px);
	-moz-transform: translate(0, 100px);
	transform: translate(0, 100px);
	padding: 40px 50px;
	background:#fff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 1px;
    margin-bottom: 75px;
}

.section-contact.animated{
	opacity: 1;
	visibility: visible;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: -webkit-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
	-moz-transition: -moz-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
	transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
}

textarea {
    resize: none;
}

::-webkit-input-placeholder {
    color: #333;
}

:-moz-placeholder {
    color: #333;
}

::-moz-placeholder {
    color: #333;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #333;
}

.input-field {
    position: relative;
    margin-bottom: 30px;
}

.input-field input,
.input-field textarea {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 0;
}

.input-field label {
    top: 10px;
    left: 0;
    color: #333;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    pointer-events: none;
    -webkit-transition: 0.15s ease all;
    -moz-transition: 0.15s ease all;
    transition: 0.15s ease all;
}

.input-field .line {
    position: relative;
    display: block;
    width: 100%;
}

.input-field .line:before,
.input-field .line:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    -webkit-transition: 0.15s ease all;
    -moz-transition: 0.15s ease all;
    transition: 0.15s ease all;
}

.input-field .line:before {
    left: 50%;
}

.input-field .line:after {
    right: 50%;
}

.input-field input:focus,
.input-field textarea:focus {
    outline: none;
}

.input-field.used label {
    top: -15px;
    font-size: 11px;
		color: #07aaf5;
}

.input-field.used .line:before,
.input-field.used .line:after {
    width: 50%;
		background-color: #07aaf5;
}

.input-field.error label {
    color: #c00 !important;
}

.input-field.error input, .input-field.error textarea {
    border-bottom: 1px solid #c00 !important;
}

.input-field.error .line:before,
.input-field.error .line:after {
    background-color: #c00 !important;
}

.btn {
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    margin-bottom: 0;
    background-image: none;
}

.btn,
.btn-outer {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    /*box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.17);*/
}

.btn-outer .btn {
    box-shadow: none;
}

.btn:hover,
.btn:focus,
.btn-outer:hover,
.btn-outer:focus {
    opacity: 0.95;
    text-decoration: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-outer {
    display: inline-block;
}

.btn-outer .btn {
    background: #07aaf5 !important;
}

.btn-outer:hover .btn,
.btn-outer:focus .btn {
    opacity: 1;
    box-shadow: none;
}

.btn-lg {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 20px;
    min-width: 130px;
}

.btn-border {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #3d4451 !important;
    border: 1px solid #cbcdcf;
    background: transparent;
    box-shadow: none;
}

.btn-primary {
    color: #fff;
}

.btn-scroll-top {
    z-index: 10;
    bottom: 35px;
    right: 40px;
    position: fixed;
    width: 40px;
    height: 40px;
    display: none;
    text-align: center;
    text-decoration: none;
    border: 1px solid #d2d2d2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.btn-scroll-top:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.btn-scroll-top .fas {
    color: #c8c8c8;
    color: rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-weight: bold;
    line-height: 38px;
}

@media (max-width: 1180px) {
    .btn-scroll-top {
        right: 15px;
        bottom: 15px;
    }
}

.mailerror{
	margin-top:15px;
    text-align:center;
    font-size:24px;
    color:red;
}

@media (max-width: 480px){
    .section-pres .row>div {
        width: 100%;
    }
}

@media (max-width: 767px){
    .profile-list .title {
        margin-bottom: 5px;
    }

    .profile-list .cont, .profile-list .title {
        width: 100%;
        float: none;
        line-height: 1.2;
        margin-left: 0px;
    }
}
